/* Google Font */
@import "https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap";
/* Application Heading */
/* Card */
/* Card Title */
/* Task Title */
/* Section Text Color */
/* Border */
/* Input */
/* Buttons */
body {
	font-family: 'Nunito Sans', sans-serif;
}

#app-title {
	text-align: center;
	font-weight: 600;
	font-size: 18px;
}

.fas {
	color: #5553ff;
}

.card {
	border-radius: 4px;
	box-shadow: #e5e5e5 0px 0px 0.9em;
	background: #fafafa;
}

.card .card-title {
	font-weight: 700;
	font-size: 30px;
}

#task-title {
	font-weight: 700;
	font-size: 30px;
}

button {
	color: black;
}

input {
	color: black;
}

input:not([type]) {
	border-bottom: 1px solid #d2d2d6;
}

input:not([type]):focus:not([readonly]) {
	border-bottom: 1px solid #5553ff;
	box-shadow: 0 1px 0 0 #2320cc;
	font-size: 1.125rem;
}

optgroup {
	color: black;
}

select {
	color: black;
}

textarea {
	color: black;
}

.collection {
	border: 2px solid #d2d2d6;
	border-radius: 4px;
}

input[type=text]:not(.browser-default) {
	border-bottom: 1px solid #d2d2d6;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
	border-bottom: 1px solid #5553ff;
	box-shadow: 0 1px 0 0 #2320cc;
	font-size: 1.125rem;
}

input[type=password]:not(.browser-default) {
	border-bottom: 1px solid #d2d2d6;
}

input[type=password]:not(.browser-default):focus:not([readonly]) {
	border-bottom: 1px solid #5553ff;
	box-shadow: 0 1px 0 0 #2320cc;
	font-size: 1.125rem;
}

input[type=email]:not(.browser-default) {
	border-bottom: 1px solid #d2d2d6;
}

input[type=email]:not(.browser-default):focus:not([readonly]) {
	border-bottom: 1px solid #5553ff;
	box-shadow: 0 1px 0 0 #2320cc;
	font-size: 1.125rem;
}

input[type=url]:not(.browser-default) {
	border-bottom: 1px solid #d2d2d6;
}

input[type=url]:not(.browser-default):focus:not([readonly]) {
	border-bottom: 1px solid #5553ff;
	box-shadow: 0 1px 0 0 #2320cc;
	font-size: 1.125rem;
}

input[type=time]:not(.browser-default) {
	border-bottom: 1px solid #d2d2d6;
}

input[type=time]:not(.browser-default):focus:not([readonly]) {
	border-bottom: 1px solid #5553ff;
	box-shadow: 0 1px 0 0 #2320cc;
	font-size: 1.125rem;
}

input[type=date]:not(.browser-default) {
	border-bottom: 1px solid #d2d2d6;
}

input[type=date]:not(.browser-default):focus:not([readonly]) {
	border-bottom: 1px solid #5553ff;
	box-shadow: 0 1px 0 0 #2320cc;
	font-size: 1.125rem;
}

input[type=datetime]:not(.browser-default) {
	border-bottom: 1px solid #d2d2d6;
}

input[type=datetime]:not(.browser-default):focus:not([readonly]) {
	border-bottom: 1px solid #5553ff;
	box-shadow: 0 1px 0 0 #2320cc;
	font-size: 1.125rem;
}

input[type=datetime-local]:not(.browser-default) {
	border-bottom: 1px solid #d2d2d6;
}

input[type=datetime-local]:not(.browser-default):focus:not([readonly]) {
	border-bottom: 1px solid #5553ff;
	box-shadow: 0 1px 0 0 #2320cc;
	font-size: 1.125rem;
}

input[type=tel]:not(.browser-default) {
	border-bottom: 1px solid #d2d2d6;
}

input[type=tel]:not(.browser-default):focus:not([readonly]) {
	border-bottom: 1px solid #5553ff;
	box-shadow: 0 1px 0 0 #2320cc;
	font-size: 1.125rem;
}

input[type=number]:not(.browser-default) {
	border-bottom: 1px solid #d2d2d6;
}

input[type=number]:not(.browser-default):focus:not([readonly]) {
	border-bottom: 1px solid #5553ff;
	box-shadow: 0 1px 0 0 #2320cc;
	font-size: 1.125rem;
}

input[type=search]:not(.browser-default) {
	border-bottom: 1px solid #d2d2d6;
}

input[type=search]:not(.browser-default):focus:not([readonly]) {
	border-bottom: 1px solid #5553ff;
	box-shadow: 0 1px 0 0 #2320cc;
	font-size: 1.125rem;
}

textarea.materialize-textarea {
	border-bottom: 1px solid #d2d2d6;
}

textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #5553ff;
	box-shadow: 0 1px 0 0 #2320cc;
	font-size: 1.125rem;
}

.input-field label {
	color: #d2d2d6;
	font-size: 1.125rem;
}

.btn {
	color: white;
	font-size: 16px;
	border-radius: 4px;
	font-weight: 700;
	border-style: solid;
	border-color: #5553ff #5553ff #5553ff;
	background: #5553ff;
	box-shadow: #e5e5e5 0px 0px 0em !important;
}

.btn:hover {
	color: white;
	border-radius: 4px;
	font-weight: 700;
	outline: none;
	border-color: #2320cc;
	background: #2320cc;
	box-shadow: #e5e5e5 0px 0px 0em !important;
}

.clear-tasks {
	color: #5553ff;
	border-radius: 4px;
	border-style: solid;
	border-color: #d2c9d6;
	background: transparent;
	box-shadow: #e5e5e5 0px 0px 0em !important;
}

.clear-tasks:hover {
	color: white;
	border-radius: 4px;
	outline: none;
	border-color: #5553ff;
	background: #5553ff;
	box-shadow: #e5e5e5 0px 0px 0em !important;
}